<!doctype <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>npm trend</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>NPM Trend</h1>
        <p>Get statistics of NPM modules</p>
      </div>
    </div>
