<%- include header %>
<div class="container">
  <form role="form" class="navbar-form navbar-left nopadding" action="/s">
    <input class="form-control" type="text" placeholder="Search module ..." name="wd" maxlength="50" autocomplete="off" method="GET">
  </form>
  <div class="clearfix"></div>
</div>
<%- include footer %>