<%- include header %>
<div id="main" class="container">
  <div id="ttpkg"></div>
  <div id="chartContainer_deltaWeekTotalPkg"></div>
</div>

<data id="datapack" value=<%- encodeURIComponent(JSON.stringify(datapack)) %>></data>
<script src="/javascripts/draw.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<%- include footer %>
