<%- include header %>
<div class="container">
  <form role="form" class="navbar-form navbar-left nopadding" action="/s">
    <input class="form-control" type="text" placeholder="Search module ..." name="wd" maxlength="50" autocomplete="off" method="GET" value="<%- qstring %>">
  </form>
  <div class="clearfix"></div>
</div>

<div class="container" id="sresult">
</div>

<data id="datapack" value="<%- encodeURIComponent(JSON.stringify(datapack)) %>"></data>
<script src="/javascripts/search.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<%- include footer %>
