<%- include header %>
<div id="main" class="container">
  <div id="text_sta"></div><br/><br/><br/>
  <div id="chartContainer_deltaWeekTotalPkg"></div></br>
  <div id="chartContainer_dailyDld"></div></br>
  <div id="chartContainer_weeklyDld"></div></br>
  <div id="chartContainer_monthlyDld"></div></br>
</div>

<data id="datapack" value="<%- encodeURIComponent(JSON.stringify(datapack)) %>"></data>
<script src="/javascripts/trend.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<%- include footer %>
