{
	"_comment": "This is a template config file. After filling params, rename this file to 'cl_config.json' and no need to check it into source",

	"_comment": "minutes for relaunch crawler next time",
	"relaunchAfter": 5,

	"_comment": "limit number of socket file description to use, OS also has a limit on it",
	"maxSockets": 500,

	"_comment": "seconds for timeout of http get",
	"httpGetTimeout": 100
}